#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #4286f4;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #4286f4;
}

 #wrapper {
        width:450px;
       overflow:hidden;
       margin: 0 auto;
       
        font-family:Verdana, sans-serif;
    }
   
    }
    legend {
        color:#0481b1;
        font-size:16px;
        padding:0 10px;
        background:#fff;
        -moz-border-radius:4px;
        box-shadow: 0 1px 5px rgba(4, 129, 177, 0.5);
        padding:5px 10px;
        text-transform:uppercase;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    fieldset {
        border-radius:4px;
        background: #fff; 
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /
        background: -webkit-linear-gradient(#fff, #f9fdff);
        padding:20px;
        border-color:rgba(4, 129, 177, 0.4);
    }
    input,
    textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom:15px;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    input[type="text"],
    input[type="password"]{
        padding: 8px 6px;
        height: 22px;
        width:280px;
    }
    input[type="text"]:focus,
    input[type="password"]:focus {
        background:#f5fcfe;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;
        width: 380px;
        
        border-color:#ccc;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        opacity:0.6;
    }
    input[type="submit"]{
        background: #222;
        border: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        text-transform:uppercase;
        color: #eee;
        cursor: pointer;
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 22px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    }
    textarea {
        padding:3px;
        width:96%;
        height:100px;
    }
    textarea:focus {
        background:#ebf8fd;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        opacity:0.6;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        border-color:#ccc;
    }
    .small {
        line-height:14px;
        font-size:12px;
        color:#999898;
        margin-bottom:3px;
    }

    <style>
    body {
        font-family: "Raleway", sans-serif;
    }

    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 p{
 	line-height:1.75
 	color:black;
 }
 b{
 	color: black;
 }
 a{
 	color:#30a5ff;
 }
 a.active,a:active,a:focus,a:hover{
 	color:#fec503
 }
 h1,h2,h3,h4,h5,h6{
 	font-weight:normal;
 	text-transform:lowercase;
 }
 section{
 	padding:100px 0
 }
 section h2.section-heading{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px
}
 section h3.section-subheading{
 	font-size:16px;
 	font-weight:400;
 	font-style:italic;
 	margin-bottom:75px;
 	text-transform:none;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
 }
 img::selection{
 	background:0 0
 }
 img::-moz-selection{
 	background:0 0
 }
 #myform {
    width: 50%; 
    text-align: center;
    margin: 200px 
    auto 0 auto;
   
	
}
 input[type=text], input[type=password] {
    width: 50%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;
 }
 .container {
    padding: 16px;
    text-align: center;
    background-attachment: fixed;
    margin-bottom: 0px; 
    margin-top: 0px; 
}
.btnn {
    background-color: #fec503;
    width: 100px;
}

.btno {
    background-color: grey;
    width: 110px;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn,.signinbtn {
    float: center;
    width: 20%;    
}
.buttons::after {
    content: "";
    clear: both;
    display: table;
}

 #mainNav{
 	background-color:#222
 }
 #mainNav .navbar-toggler{
 font-size:12px;
 right:0;
 padding:13px;
 text-transform:uppercase;
 color:#fff;
 border:0;
 background-color:#fed136;
 font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 text-transform:uppercase;
}
 #mainNav .navbar-brand{
 	color:#fed136;
 	font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
 }
 #mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
 	color:#fec503;
 }
 #mainNav .navbar-nav .nav-item .nav-link{
 	font-size:90%;
 	font-weight:400;
 	padding:.75em 0;
 	letter-spacing:1px;
 	color:#fff;
 	font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 }
 #mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
 	color:#fed136;
 }
 @media (min-width:992px){#mainNav{
 	padding-top:25px;
 	padding-bottom:25px;
 	-webkit-transition:padding-top .3s,padding-bottom .3s;-moz-transition:padding-top .3s,padding-bottom .3s;
 	transition:padding-top .3s,padding-bottom .3s;border:none;
 	background-color:transparent;
 }
 #mainNav .navbar-brand{
 	font-size:1.75em;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s;
 }
 #mainNav .navbar-nav .nav-item .nav-link{
 	padding:1.1em 1em!important;
 }
 #mainNav.navbar-shrink{
 	padding-top:0;
 	padding-bottom:0;
 	background-color:#222;
 }
 #mainNav.navbar-shrink .navbar-brand{
 	font-size:1.25em;
 	padding:12px 0;
 	}}
 header.masthead{
 	text-align:center;
 	color:#fff;
 	background-image:url(../img/pic.jpg);
 	background-repeat:no-repeat;
 	background-attachment:fixed;
 	background-position:center center;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	-o-background-size:cover;
 	background-size:cover;
 	
 }
 header.masthead .intro-text{
 	padding-top:150px;
 	padding-bottom:100px;
 }
 header.masthead .intro-text .intro-lead-in{
 	font-size:22px;
 	font-style:italic;
 	line-height:22px;
 	margin-bottom:25px;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
 }
 header.masthead .intro-text .intro-heading{
 	font-size:50px;
 	font-weight:700;
 	line-height:50px;
 	margin-bottom:25px;
 	font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 }
 @media (min-width:768px){
 	header.masthead .intro-text{
 		padding-top:300px;
 		padding-bottom:200px;
 	}
 header.masthead .intro-text .intro-lead-in{
 	font-size:40px;
 	font-style:italic;
 	line-height:40px;
 	margin-bottom:25px;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
 }
 	header.masthead .intro-text .intro-heading{
 		font-size:75px;
 		font-weight:700;
 		line-height:75px;
 		margin-top: 50px;
 		margin-bottom:50px;
 		font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 		text-transform:uppercase}}
 footer {
    padding: 10px 0;
    width: 100%;
    background-attachment: relative;
}}